body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  padding: 20px 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}